@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::placeholder {
    font-family: 'Crimson Text', serif;
  }
  .poppins {
    font-family: 'Poppins', sans-serif;
  }
  .top-mid {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bg-gradient-login {
    height: 100wh;
    /* background-color: #28428F;  */
    background-image: linear-gradient(to bottom right, #28428f, #242424 100%);
  }
}
